<a href="https://colab.research.google.com/github/Shivateja-31/Internship-Task1/blob/main/DA_Task1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#import the necessary libraries
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler

In [ ]:
#Load the dataset
import pandas as pd
df = pd.read_csv('/content/sales_data.csv')

In [ ]:
#display the whole dataset
print(df)

     Product_ID   Sale_Date Sales_Rep Region  Sales_Amount  Quantity_Sold  \
0          1052  2023-02-03       Bob  North       5053.97             18
1          1093  2023-04-21       Bob   West       4384.02             17
2          1015  2023-09-21     David  South       4631.23             30
3          1072  2023-08-24       Bob  South       2167.94             39
4          1061  2023-03-24   Charlie   East       3750.20             13
..          ...         ...       ...    ...           ...            ...
995        1010  2023-04-15   Charlie  North       4733.88              4
996        1067  2023-09-07       Bob  North       4716.36             37
997        1018  2023-04-27     David  South       7629.70             17
998        1100  2023-12-20     David   West       1629.47             39
999        1086  2023-08-16     Alice   East       4923.93             48

    Product_Category  Unit_Cost  Unit_Price Customer_Type  Discount  \
0          Furniture     152.75      267.22     Returning      0.09
1          Furniture    3816.39     4209.44     Returning      0.11
2               Food     261.56      371.40     Returning      0.20
3           Clothing    4330.03     4467.75           New      0.02
4        Electronics     637.37      692.71           New      0.08
..               ...        ...         ...           ...       ...
995             Food    4943.03     5442.15     Returning      0.29
996         Clothing    1754.32     1856.40           New      0.21
997         Clothing     355.72      438.27     Returning      0.06
998      Electronics    3685.03     3743.39           New      0.01
999             Food    2632.58     2926.68     Returning      0.14

    Payment_Method Sales_Channel Region_and_Sales_Rep
0             Cash        Online            North-Bob
1             Cash        Retail             West-Bob
2    Bank Transfer        Retail          South-David
3      Credit Card        Retail            South-Bob
4      Credit Card        Online         East-Charlie
..             ...           ...                  ...
995           Cash        Online        North-Charlie
996  Bank Transfer        Retail            North-Bob
997  Bank Transfer        Online          South-David
998  Bank Transfer        Online           West-David
999           Cash        Online           East-Alice

[1000 rows x 14 columns]

In [ ]:
#display first rows
df.head()

,Product_ID,Sale_Date,Sales_Rep,Region,Sales_Amount,Quantity_Sold,Product_Category,Unit_Cost,Unit_Price,Customer_Type,Discount,Payment_Method,Sales_Channel,Region_and_Sales_Rep
0,1052,2023-02-03,Bob,North,5053.97,18,Furniture,152.75,267.22,Returning,0.09,Cash,Online,North-Bob
1,1093,2023-04-21,Bob,West,4384.02,17,Furniture,3816.39,4209.44,Returning,0.11,Cash,Retail,West-Bob
2,1015,2023-09-21,David,South,4631.23,30,Food,261.56,371.40,Returning,0.20,Bank Transfer,Retail,South-David
3,1072,2023-08-24,Bob,South,2167.94,39,Clothing,4330.03,4467.75,New,0.02,Credit Card,Retail,South-Bob
4,1061,2023-03-24,Charlie,East,3750.20,13,Electronics,637.37,692.71,New,0.08,Credit Card,Online,East-Charlie

In [ ]:
#display the information of the data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Product_ID            1000 non-null   int64
 1   Sale_Date             1000 non-null   object
 2   Sales_Rep             1000 non-null   object
 3   Region                1000 non-null   object
 4   Sales_Amount          1000 non-null   float64
 5   Quantity_Sold         1000 non-null   int64
 6   Product_Category      1000 non-null   object
 7   Unit_Cost             1000 non-null   float64
 8   Unit_Price            1000 non-null   float64
 9   Customer_Type         1000 non-null   object
 10  Discount              1000 non-null   float64
 11  Payment_Method        1000 non-null   object
 12  Sales_Channel         1000 non-null   object
 13  Region_and_Sales_Rep  1000 non-null   object
dtypes: float64(4), int64(2), object(8)
memory usage: 109.5+ KB

In [ ]:
print(f"Rows: {df.shape[0]}")

Rows: 1000

In [ ]:
print(f"Columns: {df.shape[1]}")

Columns: 14

In [ ]:
#identify the missing values
missing_values = df.isnull().sum()
print(missing_values)

Product_ID              0
Sale_Date               0
Sales_Rep               0
Region                  0
Sales_Amount            0
Quantity_Sold           0
Product_Category        0
Unit_Cost               0
Unit_Price              0
Customer_Type           0
Discount                0
Payment_Method          0
Sales_Channel           0
Region_and_Sales_Rep    0
dtype: int64

In [31]:
import pandas as pd

# Step 0: Load the dataset
df = pd.read_csv('/content/sales_data.csv')  # Replace with the correct file path if needed

# Step 2: Remove duplicate rows
duplicates = df.duplicated().sum()
print(f"Number of duplicate rows: {duplicates}")
df = df.drop_duplicates()
print(f"Dataset shape after removing duplicates: {df.shape}")

Number of duplicate rows: 0
Dataset shape after removing duplicates: (1000, 14)

In [32]:
# Step 3: Standardize text data (strip spaces, lower-case)
text_columns = ['Sales_Rep', 'Region', 'Product_Category', 'Customer_Type', 'Payment_Method', 'Sales_Channel', 'Region_and_Sales_Rep']
for col in text_columns:
    df[col] = df[col].str.strip().str.title()

In [33]:
# Step 4: Convert 'Sale_Date' to datetime
df['Sale_Date'] = pd.to_datetime(df['Sale_Date'], errors='coerce')
print(f"Date column type: {df['Sale_Date'].dtype}")

Date column type: datetime64[ns]

In [34]:
# Step 5: Rename columns (lowercase, underscores)
df.columns = [col.lower().replace(' ', '_') for col in df.columns]
print("Renamed columns:", df.columns.tolist())

Renamed columns: ['product_id', 'sale_date', 'sales_rep', 'region', 'sales_amount', 'quantity_sold', 'product_category', 'unit_cost', 'unit_price', 'customer_type', 'discount', 'payment_method', 'sales_channel', 'region_and_sales_rep']

In [35]:
# Step 6: Validate and correct data types
# Example: Check numeric fields
numeric_cols = ['product_id', 'sales_amount', 'quantity_sold', 'unit_cost', 'unit_price', 'discount']
df[numeric_cols] = df[numeric_cols].apply(pd.to_numeric, errors='coerce')

In [36]:
# Optional: Check for outliers or incorrect entries (like negative sales amounts)
if (df['sales_amount'] < 0).any():
    print("Warning: Negative sales amounts found!")

In [37]:

# Step 7: Save cleaned data
df.to_csv('/content/sales_data_cleaned.csv', index=False)
print("Cleaned data saved as 'sales_data_cleaned.csv'")

Cleaned data saved as 'sales_data_cleaned.csv'